---
import MainLayout from "../../layouts/main-layout.astro";
import "../../styles/global.css";
import Markdown from "./about.md";
---

<MainLayout title="About">
  <div class="markdown-container">
    <Markdown />
  </div>
</MainLayout>
