@import "tailwindcss";

.markdown-container {
  ul {
    list-style-type: disc;
    padding-left: 1rem;
  }
  ol {
    list-style-type: decimal;
    padding-left: 1rem;
  }
  li {
    margin-bottom: 0.5rem;
  }
  p {
    margin: 1rem 0;
  }
  h1,h2,h3,h4{
    font-weight: bold;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    margin: 2rem 0 0.5rem 0;
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1rem;
  }
  a{
    color: black;
    text-decoration: underline;
    transition: color 0.2s ease;
    &:hover{
      color: green;
    }
  }
}