---
import MainLayout from "../layouts/main-layout.astro";
import "../styles/global.css";
---

<MainLayout title="cho-ice.xyz">
  <div class="aspect-4/3 w-full bg-gray-200"></div>
  <p>ようこそ！</p>
</MainLayout>
