---
import CoverImage from "../components/cover-image.astro";
import MainLayout from "../layouts/main-layout.astro";
import "../styles/global.css";
---

<MainLayout title="cho-ice.xyz">
  <div class="flex flex-col gap-2">
    <CoverImage client:load />
    <p class="text-center text-sm">吾妻小富士の山頂からの風景(福島県福島市)</p>
  </div>
</MainLayout>
