---
import Image from "astro/components/Image.astro";

const links = [
  {
    label: "Home",
    href: "/",
  },
  {
    label: "About",
    href: "/about",
  },
  {
    label: "Work",
    href: "/work",
  },
  {
    label: "Blog",
    href: "/blog",
  },
] as const;
---

<header class="shrink-0 sticky top-0 z-10">
  <div class="md:hidden flex justify-between p-4 bg-white">
    <a href="/" aria-label="Home"
      ><Image
        src="/avaice.png"
        alt=""
        class="size-[40px]"
        width={40}
        height={40}
        loading="eager"
      /></a
    >
    <button
      aria-label="Menu"
      onclick="document.getElementById('menu').classList.toggle('hidden');"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-menu"
        ><line x1="3" y1="12" x2="21" y2="12"></line><line
          x1="3"
          y1="6"
          x2="21"
          y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg
      >
    </button>
  </div>
  <nav id="menu" class="hidden w-full bg-white">
    <ul class="flex gap-2 px-4">
      {
        links.map((link) => (
          <li class="text-black w-full border-b block hover:text-green-700 transition">
            <a href={link.href}>{link.label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
  <div class="bg-linear-to-b from-white/95 to-transparent h-[15px]"></div>

  <div class="hidden md:flex w-[150px] flex-col gap-4 ml-4 sticky top-16">
    <Image
      src="/avaice.png"
      alt=""
      class="size-[150px]"
      width={150}
      height={150}
      loading="eager"
    />
    <nav>
      <ul class="flex flex-col gap-3">
        {
          links.map((link) => (
            <li class="text-black w-full border-b block hover:text-green-700 transition">
              <a href={link.href} class="text-lg w-full inline-block">
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
