---
import Header from "../components/header.astro";
import "../styles/global.css";

interface Props {
  title: string;
  notitle?: boolean;
}

const { title, notitle } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}{title === "cho-ice.xyz" ? "" : " | cho-ice.xyz"}</title>
  </head>
  <body
    class="flex flex-col md:flex-row md:gap-16 md:py-12 max-w-[1024px] mx-auto"
  >
    <Header />
    <div class="grow flex flex-col gap-6 p-4">
      {!notitle && <h1 class="text-4xl font-bold">{title}</h1>}
      <slot />
    </div>
  </body>
</html>
